root = true

[*.cs]

# Indentation and spacing
indent_size = 2
tab_width = 2
indent_style = space

# New line preferences
end_of_line = lf
insert_final_newline = false

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = suggestion

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none
